<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ctf.mapper.HintUnlockMapper">
    
    <select id="selectById" resultType="HintUnlock">
        SELECT * FROM hint_unlocks WHERE id = #{id}
    </select>
    
    <select id="selectByContestUserId" resultType="HintUnlock">
        SELECT * FROM hint_unlocks WHERE contest_user_id = #{contestUserId}
    </select>
    
    <select id="selectByContestUserAndHint" resultType="HintUnlock">
        SELECT * FROM hint_unlocks WHERE contest_user_id = #{contestUserId} AND hint_id = #{hintId}
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO hint_unlocks (contest_user_id, hint_id)
        VALUES (#{contestUserId}, #{hintId})
    </insert>
    
    <delete id="delete">
        DELETE FROM hint_unlocks WHERE id = #{id}
    </delete>
    
    <delete id="deleteByContestUserId">
        DELETE FROM hint_unlocks WHERE contest_user_id = #{contestUserId}
    </delete>
</mapper>
